/**/
div.c16 {
    margin-left: 0.7em
    }
div.c15 {
    text-indent: -0.7em
    }
div.c14 {
    display: block;
    font-size: 1.1em;
    margin: 1em 0;
    font-weight: bold
    }
div.c13 {
    margin: 0.83em 0;
    font-size: 1.1em;
    text-align: center
    }
span.c12 {
    font-size: smaller
    }
div.c11 {
    display: block;
    margin: 1em 0
    }
div.c10 {
    display: block;
    margin-top: 4em
    }
table.c9 {
    margin-left: auto;
    margin-right: auto
    }
div.c8 {
    width: 60%
    }
img.c7 {
    width: 100%
    }
div.c6 {
    margin-top: 2em;
    margin-bottom: 4em
    }
div.c5 {
    display: block;
    margin-left: 2em;
    text-indent: -2em
    }
div.c4 {
    display: block;
    margin: 1em 0
    }
div.c3 {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 2em;
    text-indent: -2em
    }
div.c2 {
    display: block;
    margin: 1em 0
    }
div.c1 {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold
    }
/**/