/**/
/* == GLOBAL MARKUP == */
body, table.twocol tr td {
    margin-left: 2em;
    margin-right: 2em
    }
/* BODY */
.box {
    border-style: double;
    margin-bottom: 2em;
    max-width: 30em;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2em;
    clear: both
    }
.box div.box {
    border-style: solid;
    margin-right: auto;
    margin-left: auto;
    max-width: 26em
    }
.box p {
    margin-right: 1em;
    margin-left: 1em
    }
.box dl {
    margin-right: 1em;
    margin-left: 1em
    }
h1, h2, h5, h6, .titlepg p {
    text-align: center;
    clear: both;
    text-indent: 0
    }
/* HEADINGS */
h2 {
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 60%;
    text-align: center
    }
h2#trnotes, h2#toc {
    font-size: 120%
    }
h2 .small {
    font-size: 200%
    }
h2 + h2 {
    margin-top: 3.5em
    }
h1 {
    margin-top: 3em
    }
h1 .likep {
    font-weight: normal;
    font-size: 50%
    }
div.box h1 {
    margin-top: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em
    }
h3 {
    margin-top: 2em;
    text-align: center;
    font-size: 110%;
    clear: both
    }
h4, h5 {
    font-size: 100%;
    text-align: right;
    clear: right
    }
h6 {
    font-size: 100%
    }
h6.var {
    font-size: 80%;
    font-style: normal
    }
.titlepg {
    margin-left: auto;
    margin-right: auto;
    border-style: double;
    clear: both
    }
span.chaptertitle {
    font-style: normal;
    display: block;
    text-align: center;
    font-size: 150%;
    text-indent: 0
    }
.tblttl {
    text-align: center;
    text-indent: 0
    }
.tblsttl {
    text-align: center;
    font-variant: small-caps;
    text-indent: 0
    }
pre sub.ms {
    width: 4em;
    letter-spacing: 1em
    }
pre {
    margin-top: 1em;
    margin-bottom: 1em
    }
table.fmla {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0
    }
table.inline, table.symbol {
    display: inline-table;
    vertical-align: middle
    }
td.cola {
    text-align: left;
    vertical-align: 100%
    }
td.colb {
    text-align: justify
    }
p, blockquote, div.p, div.bq {
    text-align: justify
    }
/* PARAGRAPHS */
div.p, div.bq {
    margin-top: 1em;
    margin-bottom: 1em
    }
blockquote, .bq {
    margin-left: 1em;
    margin-right: 0
    }
.verse {
    font-size: 100%
    }
p.indent {
    text-indent: 2em;
    text-align: left
    }
p.tb, p.tbcenter, verse.tb, blockquote.tb {
    margin-top: 2em;
    clear: both
    }
/* PAGE BREAKS */
span.pb, div.pb, dt.pb, p.pb {
    text-align: right;
    margin-right: 0;
    clear: right
    }
div.pb {
    display: inline
    }
.pb, dt.pb, dl.toc dt.pb, dl.tocl dt.pb, dl.undent dt.pb, dl.index dt.pb {
    text-align: right;
    margin-left: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: inline;
    text-indent: 0;
    font-size: 80%;
    font-style: normal;
    font-weight: bold;
    color: gray;
    border: 1px solid gray
    }
div.index .pb {
    display: block
    }
.bq div.pb, .bq span.pb {
    font-size: 90%;
    margin-right: 2em
    }
div.img, body a img {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    clear: right
    }
img {
    max-width: 100%;
    height: auto
    }
sup, a.fn {
    font-size: 75%;
    vertical-align: 100%;
    line-height: 50%;
    font-weight: normal
    }
h3 a.fn {
    font-size: 65%
    }
a.fn {
    font-style: normal
    }
sub {
    font-size: 75%
    }
.center, .tbcenter {
    text-align: center;
    clear: both;
    text-indent: 0
    }
/* TEXTUAL MARKUP */
span.center {
    display: block
    }
table.center {
    clear: both;
    margin-right: auto;
    margin-left: auto
    }
table.center tr td.l, table.center tr th.l {
    text-align: left;
    margin-left: 0
    }
table.center tr td.j {
    text-align: justify
    }
table.center tr td.lj {
    text-align: justify
    }
table.center tr td.ltab {
    text-align: left;
    width: 1.5em
    }
table.center tr td.t {
    text-align: left;
    text-indent: 1em
    }
table.center tr td.t2 {
    text-align: left;
    text-indent: 2em
    }
table.center tr td.r, table.center tr th.r {
    text-align: right
    }
table.center tr th.rx {
    width: 4.5em;
    text-align: right
    }
table.center tr th {
    vertical-align: bottom
    }
table.center tr td {
    vertical-align: top
    }
table.inline, table.symbol {
    display: inline-table;
    vertical-align: middle
    }
p {
    clear: left
    }
.small, .lsmall {
    font-size: 90%
    }
.smaller {
    font-size: 80%
    }
.smallest {
    font-size: 67%
    }
.larger {
    font-size: 150%
    }
.large {
    font-size: 125%
    }
.xlarge {
    font-size: 150%
    }
.xxlarge {
    font-size: 200%
    }
.gs {
    letter-spacing: 1em
    }
.gs3 {
    letter-spacing: 2em
    }
.gslarge {
    letter-spacing: 0.3em;
    font-size: 110%
    }
.sc {
    font-variant: small-caps;
    font-style: normal
    }
.cur {
    font-family: cursive
    }
.unbold {
    font-weight: normal
    }
.over {
    text-decoration: overline;
    display: inline
    }
hr {
    width: 20%;
    margin-left: 40%
    }
hr.dwide {
    margin-top: 0;
    margin-bottom: 0;
    width: 90%;
    margin-left: 5%;
    clear: right
    }
hr.double {
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    margin-left: 0;
    margin-right: 0
    }
hr.f {
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    margin-left: 0
    }
.jl {
    text-align: left
    }
.jr, .jri {
    text-align: right;
    min-width: 2em;
    display: inline-block
    }
.pcap .jri {
    font-size: 80%
    }
.jr1 {
    text-align: right;
    margin-right: 2em
    }
h1 .jr {
    margin-right: 0.5em
    }
.ind1 {
    text-align: left;
    margin-left: 2em
    }
.u {
    text-decoration: underline
    }
.hst {
    margin-left: 2em
    }
.hst2 {
    margin-left: 4em
    }
.rubric {
    color: red
    }
.blue {
    color: blue;
    background-color: white
    }
.purple {
    color: purple;
    background-color: white
    }
.green {
    color: green;
    background-color: white
    }
.yellow {
    color: yellow;
    background-color: white
    }
.orange {
    color: #ffa500;
    background-color: white
    }
.brown {
    color: brown;
    background-color: white
    }
.white {
    color: white;
    background-color: black;
    margin-left: 1em;
    margin-right: 1em;
    max-width: 28em
    }
.cnwhite {
    color: white;
    background-color: black;
    min-width: 2em;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif
    }
.cwhite {
    color: white;
    background-color: black;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif
    }
ul li {
    text-align: justify
    }
u.dbl {
    text-decoration: underline
    }
.ss {
    font-family: sans-serif;
    font-weight: bold
    }
.ssn {
    font-family: sans-serif;
    font-weight: normal
    }
p.revint {
    margin-left: 2em;
    text-indent: -2em
    }
.box p.revint {
    margin-left: 3em
    }
p.revint2 {
    margin-left: 5em;
    text-indent: -3em
    }
p.revint2 .cn {
    min-width: 2.5em;
    text-indent: 0;
    text-align: left;
    display: inline-block;
    margin-right: 0.5em
    }
i .f {
    font-style: normal
    }
.b {
    font-weight: bold
    }
.i {
    font-style: italic
    }
.f {
    font-style: italic;
    font-weight: bold
    }
div.box p.wide {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0
    }
dd.t {
    text-align: left;
    margin-left: 5.5em
    }
dl.toc, dl.key {
    clear: both;
    margin-top: 1em
    }
/* CONTENTS (.TOC) */
dl.toc dt.center {
    text-align: center;
    clear: both;
    margin-top: 3em;
    margin-bottom: 1em;
    text-indent: 0
    }
.toc dt, .key dt {
    text-align: right;
    clear: both
    }
.toc dt.just {
    text-align: justify;
    margin-left: 2em;
    margin-right: 2em
    }
.toc dd, .key dd {
    text-align: right;
    clear: both
    }
.toc dd.ddt, .toc dd.t {
    text-align: right;
    clear: both;
    margin-left: 4em
    }
.toc dd.ddt2, .toc dd.t2 {
    text-align: right;
    clear: both;
    margin-left: 5em
    }
.toc dd.ddt3 {
    text-align: right;
    clear: both;
    margin-left: 6em
    }
.toc dd.ddt4 {
    text-align: right;
    clear: both;
    margin-left: 7em
    }
.toc dd.ddt5 {
    text-align: right;
    clear: both;
    margin-left: 8em
    }
.toc dd.note {
    text-align: justify;
    clear: both;
    margin-left: 5em;
    text-indent: -1em;
    margin-right: 3em
    }
.toc dt .xxxtest {
    width: 17em;
    display: block
    }
.toc dt a, .toc dd a, .toc dt span.left, .toc dt span.lsmall, .toc dd span.left {
    text-align: left;
    clear: right
    }
.toc dt a span.cn {
    text-align: right;
    margin-right: 0.7em
    }
.toc dt.sc {
    text-align: right;
    clear: both
    }
.toc dt.scl {
    text-align: left;
    clear: both;
    font-variant: small-caps
    }
.toc dt.sct {
    text-align: right;
    clear: both;
    font-variant: small-caps;
    margin-left: 1em
    }
.toc dt .jl, .toc dd .jl, .key dt .jl, .key dd .jl {
    text-align: left;
    clear: both;
    font-variant: normal
    }
.toc dt.scc {
    text-align: center;
    clear: both;
    font-variant: small-caps;
    text-indent: 0
    }
.toc dt span.lj, span.lj {
    text-align: left;
    display: block
    }
.toc dd.center {
    text-align: center;
    text-indent: 0
    }
dd.tocsummary {
    text-align: justify;
    margin-right: 2em;
    margin-left: 2em
    }
dd.center .sc {
    display: block;
    text-align: center;
    text-indent: 0
    }
/* BOX CELL */
td.top {
    border-top: 1px solid;
    width: 0.5em;
    height: 0.8em
    }
td.bot {
    border-bottom: 1px solid;
    width: 0.5em;
    height: 0.8em
    }
td.rb {
    border: 1px solid;
    border-left: none;
    width: 0.5em;
    height: 0.8em
    }
td.lb {
    border: 1px solid;
    border-right: none;
    width: 0.5em;
    height: 0.8em
    }
td span.cellt {
    text-indent: 1em
    }
td span.cellt2 {
    text-indent: 2em
    }
td span.cellt3 {
    text-indent: 3em
    }
td span.cellt4 {
    text-indent: 4em
    }
/* INDEX (.INDEX) */
dl.index {
    clear: both
    }
.index dt {
    margin-left: 2em;
    text-indent: -2em;
    text-align: left
    }
.index dd {
    margin-left: 4em;
    text-indent: -2em;
    text-align: left
    }
.index dd.t {
    margin-left: 6em;
    text-indent: -2em;
    text-align: left
    }
.index dt.center {
    text-align: center;
    text-indent: 0
    }
dl.indexlr {
    clear: both;
    margin-left: auto;
    margin-right: auto;
    max-width: 20em;
    text-align: right
    }
dl.indexlr dt {
    clear: both;
    text-align: left
    }
dl.indexlr dt.jl {
    text-align: right
    }
dl.indexlr dd {
    clear: both
    }
dl.indexlr a {
    text-align: right
    }
dl.indexlr dd span, dl.indexlr dt.jl span {
    text-align: left;
    display: block
    }
dl.indexlr dt.center {
    text-align: center;
    text-indent: 0
    }
.ab, .ab1, .ab2 {
    font-weight: bold;
    text-decoration: none;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    margin-right: 0;
    display: inline-block;
    text-align: center;
    text-indent: 0
    }
.ab {
    width: 1em
    }
.ab2 {
    width: 1.5em
    }
a.gloss {
    background-color: #f2f2f2;
    border-bottom-style: dotted;
    text-decoration: none;
    border-color: #c0c0c0;
    color: inherit
    }
/* FOOTNOTE BLOCKS */
div.notes p {
    margin-left: 1em;
    text-indent: -1em;
    text-align: justify
    }
dl.undent dd {
    margin-left: 3em;
    text-indent: -2em;
    text-align: justify
    }
dl.undent dt {
    margin-left: 2em;
    text-indent: -2em;
    text-align: justify;
    clear: both
    }
dl.undent dd.t {
    margin-left: 4em;
    text-indent: -2em;
    text-align: justify
    }
dl.undent dd.t2 {
    margin-left: 5em;
    text-indent: -2em;
    text-align: justify
    }
/* POETRY LINE NUMBER */
.lnum {
    text-align: right;
    margin-left: 0.5em;
    display: inline
    }
.hymn {
    text-align: left
    }
/*  HYMN AND VERSE: HTML  */
.verse {
    text-align: left;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0
    }
.versetb {
    text-align: left;
    margin-top: 2em;
    margin-bottom: 1em;
    margin-left: 0
    }
.originc {
    text-align: center;
    text-indent: 0
    }
.subttl {
    text-align: center;
    font-size: 80%;
    text-indent: 0
    }
.srcttl {
    text-align: center;
    font-size: 80%;
    text-indent: 0;
    font-weight: bold
    }
p.lc {
    text-indent: 0;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0
    }
p.t0, p.l {
    margin-left: 4em;
    text-indent: -3em;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left
    }
p.lb {
    margin-left: 4em;
    text-indent: -3em;
    margin-top: 2em;
    margin-bottom: 0;
    text-align: left
    }
p.tw, div.tw, .tw {
    margin-left: 1em;
    text-indent: -1em;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left
    }
p.t, div.t, .t {
    margin-left: 5em;
    text-indent: -3em;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left
    }
p.t2, div.t2, .t2 {
    margin-left: 6em;
    text-indent: -3em;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left
    }
p.t3, div.t3, .t3 {
    margin-left: 7em;
    text-indent: -3em;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left
    }
p.t4, div.t4, .t4 {
    margin-left: 8em;
    text-indent: -3em;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left
    }
p.t5, div.t5, .t5 {
    margin-left: 9em;
    text-indent: -3em;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left
    }
p.t6, div.t6, .t6 {
    margin-left: 10em;
    text-indent: -3em;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left
    }
p.t7, div.t7, .t7 {
    margin-left: 11em;
    text-indent: -3em;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left
    }
p.t8, div.t8, .t8 {
    margin-left: 12em;
    text-indent: -3em;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left
    }
p.t9, div.t9, .t9 {
    margin-left: 13em;
    text-indent: -3em;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left
    }
p.t10, div.t10, .t10 {
    margin-left: 14em;
    text-indent: -3em;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left
    }
p.t11, div.t11, .t11 {
    margin-left: 15em;
    text-indent: -3em;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left
    }
p.t12, div.t12, .t12 {
    margin-left: 16em;
    text-indent: -3em;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left
    }
p.t13, div.t13, .t13 {
    margin-left: 17em;
    text-indent: -3em;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left
    }
p.t14, div.t14, .t14 {
    margin-left: 18em;
    text-indent: -3em;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left
    }
p.t15, div.t15, .t15 {
    margin-left: 19em;
    text-indent: -3em;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left
    }
p.lr, div.lr, span.lr {
    display: block;
    margin-left: 0;
    margin-right: 1em;
    margin-top: 0;
    margin-bottom: 0;
    text-align: right
    }
dt.lr {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-top: 1em;
    text-align: right
    }
dl dt.lr a {
    text-align: left;
    clear: left
    }
.fnblock {
    margin-top: 2em;
    margin-bottom: 2em
    }
.fndef, p.fn {
    text-align: justify;
    margin-top: 1.5em;
    margin-left: 1.5em;
    text-indent: -1.5em
    }
.fndef p.fncont, .fndef dl {
    margin-left: 0;
    text-indent: 0
    }
.fnblock div.fncont {
    margin-left: 1.5em;
    text-indent: 0;
    margin-top: 1em;
    text-align: justify
    }
.fnblock dl {
    margin-top: 0;
    margin-left: 4em;
    text-indent: -2em
    }
.fnblock dt {
    text-align: justify
    }
dl.catalog dd {
    font-style: italic
    }
dl.catalog dt {
    margin-top: 1em
    }
.author {
    text-align: right;
    margin-top: 0;
    margin-bottom: 0;
    display: block
    }
dl.biblio dt {
    margin-top: 0.6em;
    margin-left: 2em;
    text-indent: -2em;
    text-align: justify;
    clear: both
    }
dl.biblio dt div {
    display: block;
    margin-left: -6em;
    clear: both
    }
dl.biblio dt.center {
    margin-left: 0;
    text-align: center;
    text-indent: 0
    }
dl.biblio dd {
    margin-top: 0.3em;
    margin-left: 3em;
    text-align: justify;
    font-size: 90%
    }
p.biblio {
    margin-left: 2em;
    text-indent: -2em
    }
.clear {
    clear: both
    }
p.book {
    margin-left: 2em;
    text-indent: -2em
    }
p.review {
    margin-left: 2em;
    text-indent: -2em;
    font-size: 80%
    }
p.pcap {
    margin-left: 0;
    text-indent: 0;
    text-align: center;
    margin-top: 0;
    font-size: 110%
    }
p.pcapc {
    margin-left: 4.7em;
    text-indent: 0;
    text-align: justify
    }
span.inside {
    font-size: 80%;
    font-weight: bold;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-right: 1em;
    max-width: 8em
    }
span.attr {
    font-size: 80%;
    font-family: sans-serif
    }
span.pn {
    display: inline-block;
    width: 4.7em;
    text-align: left;
    margin-left: 0;
    text-indent: 0
    }
/**/